<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>TARIFARIO DE MULTAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Multas</th>
        </tr>
        <tr>
          <th>Infracciones</th>
          <th>Artículos</th>
          <th>Precios</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>No cruzar por los puentes para peatones</td>
          <td>Ley 241 art. 101- literal A</td>
          <td>RD$1,000.00</td>
        </tr>
        <tr>
          <td>Conducir un vehículo con exceso de pasajero</td>
          <td>Ley 241 art. 104</td>
          <td>RD$1,000.00</td>
        </tr>
        <tr>
          <td>Transportar más de dos pasajero en el asiento delantero</td>
          <td>Ley 241 art. 105-Literal A</td>
          <td>RD$1,000.00</td>
        </tr>
        <tr>
          <td>No tener marbete de revistas autorizadas</td>
          <td>Ley 241 art. 110-Literal D </td>
          <td>RD$1,000.00</td>
        </tr>
        <tr>
          <td>Transportar bultos que impidan la fácil retrovisión al conductor</td>
          <td>Ley 241 art. 120-Literal A</td>
          <td>RD$1,000.00</td>
        </tr>
        <tr>
          <td>Cristales Tintados</td>
          <td>Ley 241 art. 120- literal A y 156</td>
          <td>RD$1,000.00</td>
        </tr>
        <tr>
          <td>No detener la marcha cuando un vehículo escolar está montando o desmontando pasajero</td>
          <td>Ley 241 art. 122</td>
          <td>RD$1,000.00</td>
        </tr>
        <tr>
          <td>Tirar desperdicios en la vía publica</td>
          <td>Ley 241 art. 130-Literal A</td>
          <td>RD$1,000.00</td>
        </tr>
        <tr>
          <td>Pararse en la calzada para ofrecer ventas de productos de cualquier clase</td>
          <td>Ley 241 art. 130-Literal H</td>
          <td>RD$1,000.00</td>
        </tr>
        <tr>
          <td>Circular en oposición a las órdenes y señales del agente de transito</td>
          <td>Ley 241art. 133-Literal B</td>
          <td>RD$1,000.00</td>
        </tr>
        <tr>
          <td>Transitar sin Casco</td>
          <td>Ley 241 art. 135-Literal C</td>
          <td>RD$1,000.00</td>
        </tr>
        <tr>
          <td>Transitar sin marbetes de placas o vencidas</td>
          <td>Ley 241 art. 13-Literal A</td>
          <td>RD$1,000.00</td>
        </tr>
      </tbody>
    </table>
  </div>

</ion-content>
